body {
    background-color: bisque;
}

* {
    box-sizing: border-box;
    margin: 0;
}
.Green{
    color: darkgreen;
}
#p1 + p {
    font-size: 30px;
}
.Big {
    font-size: 50px;
}
.contaner{
    text-transform: uppercase;
    color: limegreen;
}
.contaner > p {
    border: 3px solid #c91919;
}
.Big.green {
    color: #154686;

}